:root {
  --text-color: #eceff4;
  --background-color: #2e3440;
  --header-color: #3b4252;
  --footer-color: #3b4252;
  --button-color: #3b4252;
  --border-color: #d8dee9;
}

html {
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
  min-height: 100vh;
  margin: 0;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  grid-template-areas:
    "container"
    "logs"
}

header {
  grid-area: header;
  padding: 1em;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-areas: "title compile save";
  align-content: end;
}

a {
  color: var(--primary-color);
}

footer {
  padding: 0.8em;
  font-size: 1em;
  border-top: 1px solid var(--border-color);
  background-color: var(--footer-color);
  grid-area: footer;
}

.logs{
  grid-area: logs;
  overflow: scroll;
  border-top: 1px solid var(--border-color);
}

h1 {
  margin: 0;
  padding: 10px 0;
  grid-area: title;
}

textarea {
  font-family: monospace;
  line-height: 1.25;
}

.container {
  grid-area: container;
  display: grid;
  padding: 0;
  background-color: var(--background-color);
  grid-template-columns: 1fr 1fr;
}

#mpostcode,
#result {
  height: 75vh;
  margin: 10px;
}

svg {
  height: 100%;
}

#log {
  white-space: pre-wrap;
  margin: 10px;
  padding: 10px;
}

#mpostcode,
#target_content {
  padding: 1em;
  font-size: 1.2em;
  resize: none;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  padding: 10px;
  font-weight: 800;
  background-color: var(--button-color);
  color: var(--text-color);
  /* border: 1px solid var(--border-color); */
  border: none;
  max-width: 20vw;
  cursor: pointer;
}

#b-compile {
  grid-area: compile;
  justify-self: end;
}

#b-save {
  grid-area: save;
  justify-self: end;
}


progress {
  height: 4px;
  width: 100%;
  display: none;
  min-width: 50%;
}

.CodeMirror.cm-s-default,
.CodeMirror.cm-s-nord {
  height: auto;
  max-height: 75vh;
  margin: 1em;
}
