<!doctype html>
<html lang="en" dir="ltr">

    <head>
        <title>Metapost Sandbox</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">
        <meta property="og:description" content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">
        <link id="theme-style" rel="stylesheet" href="../static/style.css">
        <link id="theme-style" rel="stylesheet" href="../static/codemirror.css">
        <link id="theme-style" rel="stylesheet" href="../static/nord.css">
        <script defer src="../static/main.js"></script>
        <script defer src="../static/codemirror.js"></script>
        <script defer src="../static/metapost.mode.js"></script>
    </head>

    <body>
        <header>
            <h1 class="title"> Metapost Sandbox</h1>
            <button id="b-compile" onclick="doCompile()">Compile</button>
            <!--<button id="b-save" onclick="save()">Save</button>  -->
        </header>
        <main>
            <section class="container">
                <textarea id="mpostcode" oninput="doCompile()" >
beginfig(0);
width:=100;
rotation:=45;

pen calligraphicpen ;
calligraphicpen := makepen ((0, 0)--(width,0 ) rotated rotation) ;

z0 = (x1+150, 0);
z1 = (0, y0+250);
z2 = (x1+250, y1+250);
z3 = (x2+250, y1);
z4 = (x2, y0);
pickup calligraphicpen;
draw z0..z1..z2..z3..z4 withcolor white;
endfig;
end
                </textarea>
            <div id="result" disabled></div>
            </section>
            <section class="logs">
                <p id="log"></p>
            </section>
        </main>

        <footer>
            <p>Metapost Sandbox by Santhosh Thottingal. <a href="https://github.com/santhoshtr/metapost-sandbox">Source code</a> | <a href="/docs">API Spec</a></p>
        </footer>
    </body>

</html>
