<!doctype html>
<html lang="en" dir="ltr">

    <head>
        <title>Metapost Sandbox - {{title}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if id %}
        <meta name="description" content="{{title}}">
        <meta name="og:description" content="{{title}}">
        {% else %}
        <meta name="description"
            content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">
        <meta property="og:description"
            content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">

        {% endif %}
        <link id="theme-style" rel="stylesheet" href="../static/common.css">
        <link id="theme-style" rel="stylesheet" href="../static/style.css">
        <link id="theme-style" rel="stylesheet" href="../static/codemirror.css">
        <link id="theme-style" rel="stylesheet" href="../static/nord.css">
        <script src="../static/main.js" type="module"></script>
        <script defer src="../static/codemirror.js"></script>
        <script defer src="../static/metapost.mode.js"></script>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>

        <header>
            <a href="/">
                <h1 class="title">Metapost Sandbox</h1>
            </a>
            <input class="sample-title" value="{{ title }}" id="title" name="title" />
            <button id="b-save" class="nav-item" title="Save [Control+S]"><span class="material-symbols-outlined">
                    save
                </span>Save</button>
            <button id="b-compile" class="nav-item" title="Compile [Control+R]"><span class="material-symbols-outlined">
                    play_arrow
                </span>Run</button>

                <div class="dropdown">
            <button id="b-share" class="nav-item" title="Share"  ><span
                    class="material-symbols-outlined">
                    share
                </span>Share</button> <div class="share-popover dropdown-content">
                {% if id %}
                <section>
                    <h3>Link to share</h3>
                    <input value="https://mpost.thottingal.in/m/{{id}}" />
                    <h3>Embed</h3>
                    <textarea><iframe height="600" width="1000" scrolling="no" title="{{title}}" src="https://mpost.thottingal.in/m/{{id}}/embed" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                        </iframe>
                    </textarea>
                </section>
                {% else %}
                <p>Save the work first to share</p>
                {% endif %}
            </div>
            </div>
            <div class="dropdown">
                <button id="b-profile" class="nav-item"><span class="material-symbols-outlined">
                        person
                    </span></button>
                <div class="dropdown-content">
                    <div class="nav-item dropdown-item">
                        <a  href="#" id="b-login">Login using Github</a>
                    </div>
                    <div class="nav-item dropdown-item hidden">
                        <a href="#" id="b-works">My work</a>
                    </div>
                    <div class="nav-item dropdown-item">
                        <a href="/">New work</a>
                    </div>
                    <div class="nav-item dropdown-item hidden">
                        <a id="b-logout">Log out</a>
                    </div>

                    <div class="nav-item dropdown-item">
                        <a href="/documentation"  >Documentation</a>
                    </div>
                    <div class="nav-item dropdown-item">
                        <a href="/about">About</a>
                    </div>
                </div>
                </button>
            </div>
        </header>
        <main>
            <input type="hidden" id="sampleid" name="sampleid" value="{{id}}">
            <input type="hidden" id="authorid" name="authorid" value="{{author}}">
            <section class="container">
                <textarea id="metapost" oninput="doCompile()">
                    {{metapost}}
                </textarea>
                <div id="result" disabled></div>
            </section>
            <section class="logs">
                <p id="log"></p>
            </section>
        </main>

        <footer>
            <p>Metapost Sandbox by Santhosh Thottingal. <a href="https://github.com/santhoshtr/metapost-sandbox">Source
                    code</a> | <a href="/docs">API Spec</a></p>
        </footer>



    </body>

</html>