<!doctype html>
<html lang="en" dir="ltr">

    <head>
        <title>Metapost Sandbox - {{name}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">
        <meta property="og:description"
            content="Try Metapost quickly and easily with our online sandbox application! View and preview your results in a user-friendly interface. Perfect for anyone wanting to experiment with Metapost without the hassle of setting up an environment. Start creating illustrations now!">
        <link id="theme-style" rel="stylesheet" href="../static/style.css">
        <link id="theme-style" rel="stylesheet" href="../static/codemirror.css">
        <link id="theme-style" rel="stylesheet" href="../static/nord.css">
        <script defer src="../static/main.js"></script>
        <script defer src="../static/codemirror.js"></script>
        <script defer src="../static/metapost.mode.js"></script>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <header>
            <h1 class="title"> Metapost Sandbox</h1>
            <input class="sample-name" value="{{ name }}" id="name" name="name" />
            <button id="b-save" class="nav-item" onclick="doSave()" title="Save [Control+S]"><span
                    class="material-symbols-outlined">
                    save
                </span></button>
            <button id="b-compile" class="nav-item" onclick="doCompile()" title="Compile [Control+R]"><span
                    class="material-symbols-outlined">
                    play_arrow
                </span></button>
            <a id="b-samples" class="nav-item" href="https://github.com/santhoshtr/type-concepts/" target="_blank"
                title="Samples"><span class="material-symbols-outlined">
                    menu_book
                </span></a>
            <button id="b-share" class="nav-item" onclick="doShare()" title="Share this code"><span
                    class="material-symbols-outlined">
                    share
                </span></button>
        </header>
        <main>
            <input type="hidden" id="sampleid" name="sampleid" value="{{id}}">
            <section class="container">
                <textarea id="mpostcode" oninput="doCompile()">
                    {{code}}
                </textarea>
                <div id="result" disabled></div>
            </section>
            <section class="logs">
                <p id="log"></p>
            </section>
        </main>

        <footer>
            <p>Metapost Sandbox by Santhosh Thottingal. <a href="https://github.com/santhoshtr/metapost-sandbox">Source
                    code</a> | <a href="/docs">API Spec</a></p>
        </footer>
    </body>

</html>